<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="NORMALEEEE">
  <link
    name="TEST">
    <inertial>
      <origin
        xyz="-0.0070473 -0.016533 1.62"
        rpy="0 0 0" />
      <mass
        value="62.454" />
      <inertia
        ixx="1.4303"
        ixy="-1.6598E-05"
        ixz="-9.7664E-05"
        iyy="1.5986"
        iyz="-0.024507"
        izz="1.2071" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NORMALEEEE/meshes/TEST.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NORMALEEEE/meshes/TEST.STL" />
      </geometry>
    </collision>
  </link>
</robot>