<?xml version="1.0"?>
<launch>

    <param name="robot_description" command="xacro '$(find urdf_robot)/urdf/rover.urdf.xacro'"/>
    

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find urdf_robot)/worlds/test.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
        
    </include>
    
    <node name="spawning_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model urdf_robot -param robot_description"/>

    <!--ekf-->
    <remap from="odom" to="/base_truth_odom" />
    <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
        <param name="output_frame" value="odom"/>
        <param name="base_footprint_frame" value="base_link"/>
        <param name="freq" value="50.0"/>
        <param name="sensor_timeout" value="1.0"/>
        <param name="odom_used" value="true"/>
        <param name="imu_used" value="false"/>
        <param name="vo_used" value="false"/>
        <param name="gps_used" value="false"/>
        <param name="debug" value="false"/>
        <param name="self_diagnose" value="false"/>
    </node>

    <!--map-->
    <arg name="map_file" default="$(find urdf_robot)/maps/test.yaml"/>
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" />
    <!--amcl-->
    <include file="$(find amcl)/examples/amcl_diff.launch"/>
    <!--move_base-->
    <!--remap from="cmd_vel" to="/robot_base_velocity_controller/cmd_vel"/-->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find urdf_robot)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find urdf_robot)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find urdf_robot)/param/local_costmap_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find urdf_robot)/param/global_costmap_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find urdf_robot)/param/base_local_planner_params.yaml" command="load" />
    </node>

    


</launch>